[submodule "moedict-data"]
	path = moedict-data
	url = https://github.com/g0v/moedict-data
[submodule "Scratch/treant-js"]
	path = Scratch/treant-js
	url = https://github.com/fperucic/treant-js
[submodule "Scratch/JavaScript-MD5"]
	path = Scratch/JavaScript-MD5
	url = https://github.com/blueimp/JavaScript-MD5
